<form @fade [formGroup]="form" (ngSubmit)="clickForm()">
  <div class="form-group">
    <div *ngIf="form.errors" class="alert alert-danger">Form Send some erroes</div>
    <label for="username">Username</label>
    <input formControlName="username" id="username" type="text" class="form-control">
    <div *ngIf="username.pending">Let me check...</div>
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
      <div *ngIf="username.errors.required">Username is reuired.</div>
      <div *ngIf="username.errors.minlength">3 Character</div>
      <div *ngIf="username.errors.spaceNotAllow">oOpps you are using space.</div>
      <div *ngIf="username.errors.matchName">You are alredy my user.</div>
    </div>
  </div>
  <div class="form-group">
    <div *ngIf="form.errors" class="alert alert-danger">Form Send some erroes</div>
    <label for="email">email</label>
    <input formControlName="email" id="email" type="text" class="form-control">
    <div *ngIf="email.pending">Let me check...</div>
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
      <div *ngIf="email.errors.required">email is reuired.</div>
      <div *ngIf="email.errors.pattern">Your email is invalid</div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>

