<h3>My Users</h3>
<hr>
<button class="btn btn-default" (click)="createNewUser()">Add User</button>
<br>
<app-users *ngIf="newUser" (addUser)="addEventHandlerUser($event)"></app-users>
<hr>


<div class="userBox">
    <div *ngFor="let user of users; let i = index" @flyInOut class="item" (click)="remove(i)">
        <div class="row">
            <div class="col-md-6">
                <strong style="color:blue;">User Name : </strong> {{user.userName}}
            </div>
            <div class="col-md-6">
                <strong style="color:royalblue;">Email : </strong>{{user.email}}
            </div>
        </div>
    </div>
</div>

