  .userBox {
    flex-grow: 1;
  }

  .item {
    position: relative;
    padding: 0 20px;
    line-height: 70px;
    background: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
  }
  
  .item:hover:after {
    content: "✖";
    line-height: 0;
    position: absolute;
    right: 15px;
    top: 20px;
  }